In [22]:
import pandas as pd
import numpy as np

In [23]:
data = pd.read_csv("COVID-19BehaviorData_CAN2022.csv")
data.head()

/var/folders/gx/s5_4k7114v90fkvwrtg9tvmm0000gn/T/ipykernel_98675/3479889270.py:1: DtypeWarning: Columns (4,505,506,507,508,509,510,511) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("COVID-19BehaviorData_CAN2022.csv")

,RecordNo,endtime,qweek,i1_health,i2_health,i7a_health,i3_health,i4_health,i5_health_1,i5_health_2,...,vac_man_96,vac_man_99,q_other,had_covid,vac_boost_beyond,future_1,future_2,had_covid_2,long_covid,future_3
0,41589,06/01/2022 18:02,week 44,,0,,,,,,...,No,No,__NA__,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,41731,03/01/2022 23:48,week 44,,1,,,,,,...,No,No,__NA__,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,41756,10/01/2022 04:53,week 44,,0,,,,,,...,Yes,No,"Oui bar , restaurent",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,41846,01/01/2022 13:15,week 44,,5,,,,,,...,No,No,__NA__,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,41847,01/01/2022 19:12,week 44,,150,,,,,,...,No,No,__NA__,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
data = data.replace(r'^\s*$', np.nan, regex=True)

# Finding columns where all values are NaN
empty_columns = data.columns[data.isna().all()]

print("Columns with all NaN values:", empty_columns)
data_c = data.dropna(axis=1, how='all')
data_c.shape

Columns with all NaN values: Index(['i1_health', 'i7a_health', 'i3_health', 'i4_health', 'i5_health_1',
       'i5_health_2', 'i5_health_3', 'i5_health_4', 'i5_health_5',
       'i5_health_99',
       ...
       'SC_1_99', 'SC_2', 'SC_3_1', 'SC_3_2', 'SC_3_3', 'SC_3_4', 'SC_3_5',
       'SC_3_6', 'SC_3_7', 'SC_3_99'],
      dtype='object', length=353)

(6430, 159)

In [25]:
data_cleaned = data.dropna(axis=1, how='all')
data_cleaned.shape

(6430, 159)

In [26]:
# Identify the columns with more than 50% missing data
columns_to_drop = data_cleaned.columns[data_cleaned.isnull().mean() >= 0.7]

print(len(columns_to_drop))

# Display the columns that have more than 50% missing data
columns_to_drop

36

Index(['w1', 'w2', 'w3', 'Soc2_1', 'Soc2_2', 'Soc2_3', 'Soc2_4', 'Soc2_5',
       'Soc2_6', 'vac_1', 'travel1_1', 'travel1_2', 'travel1_3', 'travel1_4',
       'travel1_99', 'vac12_1', 'vac12_2', 'vac12_3', 'vac12_4', 'vac12_11',
       'vac12_5', 'vac12_6', 'vac12_7', 'vac12_8', 'vac12_9', 'vac12_10',
       'vac12_96', 'vac12_12', 'vac12_13', 'Vent_1', 'WAH_1', 'WAH_2', 'WAH_3',
       'had_covid', 'long_covid', 'future_3'],
      dtype='object')

df_filtered =data_cleaned[data_cleaned["had_covid"].notna()]

desired_columns = [
    'w1', 'w2', 'w3', 'Soc2_1', 'Soc2_2', 'Soc2_3', 'Soc2_4', 'Soc2_5',
    'Soc2_6', 'vac_1', 'travel1_1', 'travel1_2', 'travel1_3', 'travel1_4',
    'travel1_99', 'vac12_1', 'vac12_2', 'vac12_3', 'vac12_4', 'vac12_11',
    'vac12_5', 'vac12_6', 'vac12_7', 'vac12_8', 'vac12_9', 'vac12_10',
    'vac12_96', 'vac12_12', 'vac12_13', 'Vent_1', 'WAH_1', 'WAH_2', 'WAH_3',
    'had_covid', 'long_covid', 'future_3'
]

available_columns = [col for col in desired_columns if col in df_filtered.columns]
df_filtered_final = df_filtered[available_columns]

print(df_filtered_final)